{% extends 'main.html' %} {% block content %}

{% comment %} <button style="position:relative;top:-1rem;" id="save_creditScheme" class="btn btn-primary mt-4">Save</button> {% endcomment %}

<div>
    <nav aria-label="Page navigation example" style="position:relative;top:3rem;left:75rem">
        <ul class="pagination">

            <li class="page-item"><a class="page-link" href="{% url 'login-home'%}">Previous</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'examinationScheme' %}?branch={{request.session.branch}}&programme={{request.session.programme}}&sem={{request.session.sem}}">Next</a></li>

        </ul>
    </nav>
</div>
<div>
    <div class="container">
        <table class="table table-bordered border-dark text-center" id="creditSchemeTable" style="overflow-y:scroll">
            <thead>
                <tr class="text-danger">
                    <th rowspan="2">Course Code</th>
                    <th rowspan="2">Course Name</th>
                    <th colspan="3" class="text-center">Teaching <br/> Scheme (Hrs.)<br/>TH</th>
                    <th rowspan="2">Total (Hrs.)</th>
                    <th colspan="3" class="text-center">Credits Assigned</th>
                    <th rowspan="2">Total Credits</th>
                    <th rowspan="2">Course Categories</th>
                    <th rowspan="2">Delete row</th>
                </tr>
                <tr class="text-danger">
                    <th>TH</th>
                    <th>P</th>
                    <th>TUT</th>
                    <th>TH</th>
                    <th>P</th>
                    <th>TUT</th>
                </tr>
            </thead>
            <tbody id="creditSchemeTablebody">

                {% for item in data %}
                <tr>
                    <td class="editable" data-id="{{ item.id }}" data-type="courseCode">{{item.courseCode}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="courseName">{{item.courseName}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="teachingSchemeTH">{{item.teachingSchemeTH}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="teachingSchemeP">{{item.teachingSchemeP}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="teachingSchemeTUT">{{item.teachingSchemeTUT}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="TotalHours">{{item.TotalHours}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="creditAssignedTH">{{item.creditAssignedTH}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="creditAssignedP">{{item.creditAssignedP}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="creditAssignedTUT">{{item.creditAssignedTUT}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="totalCredits">{{item.totalCredits}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="courseCategories">{{item.courseCategories}}</td>
                    <td><button class="btn btn-danger" onclick="deleteRow({{ item.id }})">Delete</button></td>
                </tr>
                {% endfor %}
                <tr class="fw-bold">
                    <td></td>
                    <td>Total</td>
                    <td>{{totalteachingSchemeTH}}</td>
                    <td>{{totalteachingSchemeP}}</td>
                    <td>{{totalteachingSchemeTUT}}</td>
                    <td>{{totalTotalHours}}</td>
                    <td>{{totalcreditAssignedTH}}</td>
                    <td>{{totalcreditAssignedP}}</td>
                    <td>{{totalcreditAssignedTUT}}</td>
                    <td>{{totaltotalCredits}}</td>
                    
                    <td></td>
                    <td></td>
                    
                </tr>
                <tr>
                    <form method="post" id="creditSchemeTable">
                        {% csrf_token %}
                        <td>
                            <div class="form-group">
                                <input required type="text" class="form-control" id="courseCode" name="courseCode">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input required type="text" class="form-control" id="courseName" name="courseName">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select required type="text" class="form-control" id="teachingSchemeth" name="teachingSchemeth">
                                <option value="" disabled selected>Select an option</option>
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select required type="text" class="form-control" id="teachingSchemep" name="teachingSchemep">
                                <option value="" disabled selected>Select an option</option>
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select required type="text" class="form-control" id="teachingSchemetut" name="teachingSchemetut">
                                <option value="" disabled selected>Select an option</option>
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                            </div>
                        </td>
                        <td>
                        </td>
                        <td>
                            <div class="form-group">
                                <select required type="text" class="form-control" id="creditAssignedth" name="creditAssignedth">
                                <option value="" disabled selected>Select an option</option>
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select required type="text" class="form-control" id="creditAssignedp" name="creditAssignedp">
                                <option value="" disabled selected>Select an option</option>
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select required type="text" class="form-control" id="creditAssignedtut" name="creditAssignedtut">
                                <option value="" disabled selected>Select an option</option>
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                            </div>
                        </td>
                        <td>
                        </td>
                        <td>
                            <div class="form-group">
                                <select required class="form-control" id="courseCategories" name="courseCategories">
                                    <option value="" disabled selected>Select an option</option>
                                    <option value="HS">HS</option>
                                    <option value="ES">ES</option>
                                    <option value="BS">BS</option>
                                    <option value="PC">PC</option>
                                    <option value="PE">PE</option>
                                    <option value="OE">OE</option>
                                    <option value="LC">LC</option>
                                    <option value="PR">PR</option>
                                    <option value="AC">AC</option>
                                    <option value="AOCC">AOCC</option>
                                    <option value="AOAC">AOAC</option>
                                    <option value="AVAC">AVAC</option>
                                    <option value="EX">EX</option>
                                    <option value="I">I</option>
                                </select>
                            </div>
                        </td>
                        <td></td>
                        <button type="submit" style="position:relative;top:-1rem;" id="submit_creditScheme" class="btn btn-primary mt-4">Submit</button>
                    </form>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<script>
    function deleteRow(id) {
        if (confirm("Are you sure you want to delete this row?")) {
            $.ajax({
                url: '/deleteRow/',
                method: 'POST',
                data: {'id': id},
                success: function(response) {
                    alert(response);
                    //window.location.reload(); // Reload the page after successful deletion
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        }
    }
    
</script>

{% endblock %}