{% extends 'main.html' %} {% block content %}

<div>
    <nav aria-label="Page navigation example" style="position:relative;top:3rem;left:75rem">
        <ul class="pagination">

            <li class="page-item"><a class="page-link" href="{% url 'creditScheme' %}?branch={{request.session.branch}}&programme={{request.session.programme}}&sem={{request.session.sem}}">Previous</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'facultyAssign' %}?branch={{request.session.branch}}&programme={{request.session.programme}}&sem={{request.session.sem}}">Next</a></li>
        </ul>
    </nav>
</div>
<div>
    <div class="container">
        <table class="table table-bordered border-dark text-center">
            <thead>
                <tr class="text-danger">
                    <th rowspan="3">Course Code</th>
                    <th rowspan="3">Course Name</th>
                    <th colspan="4" class="text-center">Theory Marks</th>
                    <th rowspan="3" class="text-center">TW</th>
                    <th rowspan="3">Oral</th>
                    <th rowspan="3">/Pract.<br/>and <br/>Oral</th>
                    <th rowspan="3">Lab/Tut <br> CA</th>
                    <th rowspan="3">Course Categories</th>
                    <th rowspan="3">Total</th>
                </tr>
                <tr class="text-danger">
                    <th colspan="3">Continuous Assessment (CA)</th>
                    <th rowspan="2">End Sem. Exam</th>
                </tr>
                <tr class="text-danger">
                    <th>ISE</th>
                    <th>IA</th>
                    <th>Total</th>
                </tr>


            </thead>
            <tbody id="examinationSchemeTablebody">

                {% for item in data %}
                <tr>
                    <td class="editable" data-id="{{ item.id }}" data-type="courseCodeEx">{{item.courseCodeEx}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="courseNameEx">{{item.courseNameEx}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="caISE">{{item.caISE}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="caIA">{{item.caIA}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="caTotal">{{item.caTotal}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="ese">{{item.ese}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="tw">{{item.tw}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="oral">{{item.oral}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="oralAndPrac">{{item.oralAndPrac}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="caLabTut">{{item.caLabTut}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="courseCategoriesEx">{{item.courseCategoriesEx}}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="totalEx">{{item.totalEx}}</td>
                </tr>
                {% endfor %}
                <tr class="fw-bold">
                    <td>Total</td>
                    <td></td>
                    <td>{{totalISE}}</td>
                    <td>{{totalIA}}</td>
                    <td>{{totalcaTotal}}</td>
                    <td>{{totalese}}</td>
                    <td>{{totaltw}}</td>
                    <td>{{totaloral}}</td>
                    <td>{{totaloralAndPrac}}</td>
                    <td>{{totalcaLabTut}}</td>
                    <td></td>
                    <td>{{totalAll}}</td>

                </tr>

                <tr>
                    <form method="post" id="examinationSchemeTable">
                        {% csrf_token %}

                        <td>
                            <div class="form-group">
                                <select required type="text" class="form-control" id="courseCodeEx" name="courseCodeEx">
                                    <option value="" disabled selected>Select an option</option>
                                    {% for item in result %}
                                        <option value="{{ item.courseCode }}">{{ item.courseCode }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                           <td>
        <div class="form-group">
            <select required type="text" class="form-control" id="courseNameEx" name="courseNameEx">
                <option value="" disabled selected>Select an option</option>
                {% for item in result %}
                    <option value="{{ item.courseName }}">{{ item.courseName }}</option>
                {% endfor %}
            </select>
        </div>
    </td>

                        <td>

                            <div class="form-group">
                                <select required type="text" class="form-control" id="caISE" name="caISE">
                            <option value="" disabled selected>Select an option</option>
                            <option value=30>30</option>
                            <option value=0> 0 </option>
                        </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select required type="text" class="form-control" id="caIA" name="caIA">
                                    <option value="" disabled selected>Select an option</option>
                                    <option value=20>20</option>
                            <option value=0> 0 </option>
                        </select>
                            </div>
                        </td>
                        <td>
                        </td>
                        <td>
                            <div class="form-group">
                                <select required type="text" class="form-control" id="ese" name="ese">
                                    <option value="" disabled selected>Select an option</option>
                                    <option value=50>50</option>
                            <option value=0> 0 </option>
                        </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select required type="text" class="form-control" id="tw" name="tw">
                                    <option value="" disabled selected>Select an option</option>
                                    <option value=25>25</option>
                            <option value=0> 0 </option>
                        </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select required type="text" class="form-control" id="oral" name="oral">
                                    <option value="" disabled selected>Select an option</option>
                                    <option value=25>25</option>
                            <option value=0> 0 </option>
                        </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select required type="text" class="form-control" id="oralAndPrac" name="oralAndPrac">
                                    <option value="" disabled selected>Select an option</option>
                                    <option value=25>25</option>
                            <option value=0> 0 </option>
                        </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select required type="text" class="form-control" id="caLabTut" name="caLabTut">
                                    <option value="" disabled selected>Select an option</option>
                                    <option value=75>75</option>
                                    <option value=50>50</option>
                                    <option value=25>25</option>
                                    <option value=0> 0 </option>
                        </select>
                            </div>
                        </td>
                        <td><div class="form-group">
                            <select required type="text" class="form-control" id="courseCategoriesEx" name="courseCategoriesEx">
                        <option value="" disabled selected>Select an option</option>
                        {% for item in result %}
                        <option value={{item.courseCategories}}>{{item.courseCategories}}</option>
                        
                        {% endfor %}</td>
                        <td></td>
                        <button type="submit" style="position:relative;top:-1rem;" id="submit_examinationScheme" class="btn btn-primary mt-4">Submit</button>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}