

{% extends 'main.html' %}
{% block content %}

<div>
    <nav aria-label="Page navigation example" style="position:relative;top:3rem;left:75rem">

</nav>
</div>
<div>
    <div class="container">
        <table class="table table-bordered border-dark text-center" id="creditSchemeTable" style="overflow-y:scroll">
            <thead>
                <tr class="text-danger">
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Go to</th>
                </tr>
            </thead>
            <tbody id="facultyLoginFirstView">
                {% for item in data %}
                <tr>
                    <td class="editable" data-id="{{ item.id }}" data-type="courseCode">{{ item.courseCodeEx }}</td>
                    <td class="editable" data-id="{{ item.id }}" data-type="courseName">{{ item.courseNameEx }}</td>
                    <td>
                        <a href="{% url 'courseDetail' username=request.resolver_match.kwargs.username course_code=item.courseCodeEx course_name=item.courseNameEx %}">Course Detail</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}